@import url("https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400");

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap');

html {
    background: rgba(122, 191, 191, .5);
}

body {

    background-color: #F2F2F2;
    width: 414px;
    margin: 0 auto;
}


/* Dropdown Hamburger Menu
------------------------------------------------------------------------------- */
nav {
    width:414px;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    /* grid-template-rows: 1fr; */
    /* overflow: hidden; */

    /* border-bottom: 2px solid lightgray; */
    background-color: #FFFFFF;

    position: absolute;
    top: 0;
 
    text-align: center;
  }

/* nav:nth-child(4) {
    background-color: #F2F2F2;
} */

#menu {
   
    



}

nav span {
    margin: 0 auto;
    padding: 0;
}
nav p {
    margin: 0 auto;
    padding: 0;
}
  


  /* span p {
    display: inline;
    align: auto;
    padding-left:50px;
    text-align: center;
  } */


  #menu {
    /* max-height: 50px; */
    background-color: #F2F2F2;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 2 / 9;
    position: absolute;
    /* z-index: 1; */
    text-align: center;
    width: 414px;
    /* max-height: fit-content; */


  }
  nav h2 {
    visibility: hidden;
    grid-column: -1 / 1;
    grid-row: -1 / 1;
    height:0px;
    width: 0px;
  }
  nav li a {
    display:block;
    /* padding:20px 20px; */
    text-decoration:none;
    color: #EB5428;
    margin: 10px 0px;
    
  }
  nav a:hover, nav input:hover {
      background-color: rgba(122, 191, 191, .5);
  }

  label#hamburger {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 40px;
    /* z-index: 2; */
  }

  label#hamburger:hover {
    background-color: rgba(122, 191, 191, .5);
  }

  nav #logoLink {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* position: absolute; */
    /* width: 150px; */
    /* border: 5px solid tomato; */
    width: 100%;
    height: 100%;
    
    
    background-color: #EB5428;

  }

  #logo {
    /* position: absolute;  */
    /* top: 0;  */
    /* justify-content: center; */
    /* display: inline; */
    grid-column: 2 / 3;
    /* border: 5px solid tomato; */
    width: 100%;
    /* height: 100%; */
    /* width: 200px; */

    /* background-color: #EB5428; */
  }

  #links:first-child {
    /* grid-row: 1 / 2; */
  }


  nav a {
    align-self: center;
    justify-self: center
  }

  nav p {
    align-self: center;
    justify-self: center
  }

  nav a:last-child {
    grid-column: 3 / 4;
    /* align-self: center; */
    /* justify-self: center; */

    grid-row: 1 / 2;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
   
    
  }




  #avatarLink {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* border: 5px solid red; */
    align-content: center;
    
  }

  #avatarLink a {
    /* border: 3px solid green; */
  /* padding: 0px 0px; */
  }

/* Dropdown Menu Icons
------------------------------------------------------------------------------- */

  nav ul {
    text-align:center;
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    max-height:0;
    transition: max-height .2s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    


  }

  ul li img {
    width: 70px;
    height: 70px;
    /* display: inline-block; */
  }


/* Search
------------------------------------------------------------------------------- */

#search {
    display: grid;
    grid-template-rows: 1fr;
    padding: 15px 0px;
    /* margin-left: 10px; */
    /* grid-row: 2 / 3; */
    /* grid-column: 1/ 4; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    /* align-self: center; */
    /* align-content: center; */
    justify-content: center;
    justify-items: center;

    /* position: relative;  */

    
/*     
    top: 90px;
    left: 35px;
    z-index: -1; */



    /* justify-content: center;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    align-items: center; 
    justify-items: center; */

}

#searchbox {
    background-color: #F2F2F2;
    grid-row: 2; 
    grid-column: 1 / 4;
}

form input {
    width: 260px;
    border: 2px solid #EB5428;
    grid-row: 1 / 2;

}

#search input, #search button {
    height: 45px; 
    margin: 0;
} 

button {
    grid-row: 1 / 2;
    border: 2px solid #EB5428;
    background-color: #EB5428;
    /* width: fit-content;
    height: fit-content; */
}
button:hover {
    border: 2px solid #F2F2F2;
}


/* Options menu (Save, Share, Print, Jump) 
------------------------------------------------------------------------------- */


#options ul {
    list-style: none; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    padding: 0px;;
    
}
#options li {
    color:#EB5428;
    text-align: center;


}











  /* ---------------------------------------------- */
  nav label {
      cursor: pointer;
      /* display: inline-block; */
      padding: 5px 20px;
      position: relative;
      user-select: none;
  }


  
  label span {
      background-color: #ffffff;
      /* display: inline-block; */
      height: 2px;
      position: relative;
      transition: background-color .2s ease-out;
      /* width: 18px; */
  }
  label span:before, label span:after {
      background: #ffffff;
      content: '';
      display: inline-block;
      /* height: 100%; */
      position: absolute;
      /* transition: all .2s ease-out; */
      /* width: 100%; */
  }
  label span:before {
      /* top: 5px; */
  }
  label span:after {
      /* top: -5px; */
  }

  label span {
    margin: 0 auto;
  }



  /* ---------------------------------------------- */



  input#dropdown {
    display:none;
  }
  input#dropdown:checked ~ ul {
      max-height: 550px;
  }
  input#dropdown:checked ~ label span {
      background: transparent;
  }
 

/* Fonts and Sizing 
------------------------------------------------------------------------------- */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1, h2, h3, nav a, nav span, nav p, menu li, #social li, #options li, footer {
    font-family: "Bebas neue", Arial, sans-serif ;
}

p, dd, li, nav, input {
    font-family: "Montserrat", Arial, sans-serif;
}

dt {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
}

h1 { 
    font-size: 40px;
    margin-top: 150px;
    padding-top: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

h2 {
    font-size: 30px;
} 

h3 {
    font-size: 25px;
}

nav a, nav span, nav p, menu li, #social li, footer { 
    font-size: 20px;
}

p, dd, li, nav, input, dt {
    font-size: 16px;
}


/* For Screens 768px and Wider
------------------------------------------------------------------------------- */

  @media screen and (min-width: 768px){
    
    body {
        width: 768px;
        
    }

    nav {
    width:768px;

    }
    nav ul {
      overflow:visible;
      position:absolute;
      top:0px;
      display:grid;
    }
    ul#menu {
        background-color: #FFFFFF;
    }
    nav li a {
      /* padding: 10px 10px; */
      /* margin: 10px 0px; */
    }
    label span, input#dropdown {
      display:none;
    }

    nav input#dropdown {
        grid-column: -1 / 1;
        grid-row: -1 / 1;
        width: 0px;
        /* display: none; */
    }

    label#hamburger {
        grid-column: -1 / 1;
        grid-row: -1 / 1;
        width: 0px;
        display: none;
    }

    #logo {
        grid-column: 1 / 2;
    }


    h1 { 
        padding: 15px;
        text-align: left;
        margin-top: 175px;
    }


    #search {
        position: absolute; 
        top: 0px;
        left: 350px;
        z-index: 2;
    }
  

/* Dropdown Menu Icons
    ----------------------------------------------- */
    nav {
        display: grid;
     
        grid-template-rows: 1fr 100px;
        /* overflow: hidden; */
    
        background-color: #FFFFFF;
        position: absolute;
        top: 0;
     
        text-align: center;
        }

 
        
        nav #logoLink {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width:100%;
            height: 100%;

           
            align-content: center;
        }
    
        #menu {
            overflow: visible;
            grid-column: 1 / 3;
            grid-row: 2 / 9;
            position: absolute;
            /* z-index: 1; */
            text-align: center;
            width: 768px;
            /* max-height: fit-content; */
        
        
          }
    
    
        nav ul {
            
            text-align:center;
            margin:0;
            padding:0;
            list-style:none;
            /* overflow:hidden; */
            max-height:0;
            transition: max-height .2s ease-out;
    
            display: grid;
            grid-template-columns: repeat(7,1fr);
    
    
        }
    
        ul li img {
            width: 50px;
            height: 50px;
            display: inline-block;
        }
    







  }



  /* For Screens 1280px and Wider
------------------------------------------------------------------------------- */

  @media screen and (min-width: 1280px){
    
    body {
        width: 1280px;
        
    }
    
    nav {
        grid-template-columns: 120px 1fr 120px;
        width:1280px;
        grid-template-rows: 120px;
        
    }

    nav ul {
      overflow:visible;
      position:absolute;
      top:25px;

      justify-self: center;
      align-items: center;
    }

    nav ul li {
        margin: auto;
    }

    nav li a {
      padding:0px 11px;
      
      
    }
    label span, input#dropdown {
      display:none;
    }

    #menu {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: auto;
        justify-content: center;
        justify-items: center;
    }


    nav ul { 
        width: fit-content;
    }

    


    #avatarLink {
        
        align-content: center;
        

    }

    #search {
        position: absolute; 
        top: 150px;
        left: 500px;
        z-index: 2;
    }


    h1 { 
        padding-top: 120px;
        text-align: center;
        margin-top: 125px;
    }
    

  }














  










